#
# 이 파일은 AzerothCore 프로젝트의 일부입니다. 저작권 정보는 AUTHORS 파일을 참조하세요.
#
# 이 파일은 자유 소프트웨어입니다. 특별 예외로 저작자는
# 수정 여부와 관계없이 이 파일을 복사하거나 배포할 수 있는 무제한의 권한을 부여하며,
# 이 고지를 보존하는 것을 조건으로 합니다.
#
# 이 프로그램은 유용하게 쓰이기를 바라며 배포되지만,
# 법률이 허용하는 범위 내에서 어떠한 보증도 제공하지 않으며,
# 상품성이나 특정 목적에 대한 적합성에 관한 묵시적 보증조차 제공하지 않습니다.
#
# 사용자가 git 테스트를 무시하도록 직접 선택했으므로 경고를 표시합니다.
# 그 결과를 알 수 있도록 매 컴파일마다 이 경고를 표시합니다.
#

########################################
# AoeLoot 모듈 설정
########################################
#
#    AOELoot.Enable
#        설명: 모듈을 활성화합니다.
#        기본값:     1 - (활성)
#                     0 - (비활성)
#

AOELoot.Enable = 1

#
#    AOELoot.Message
#        설명: 플레이어가 파티에 속해 있을 때 광역 전리품 획득을 활성화합니다.
#        기본값:     1 - (활성)
#                     0 - (비활성)
#

AOELoot.Message = 1

#
#    AOELoot.Range
#       설명: 전리품을 검색하는 최대 도달 범위입니다.
#       기본값:    55.0
#       범위:      5.0 - 100.0
#

AOELoot.Range = 55.0

#
#    AOELoot.Group
#        설명: 플레이어가 파티에 속해 있을 때 광역 전리품 획득을 활성화합니다.
#        기본값:     1 - (활성)
#                     0 - (비활성)
#

AOELoot.Group = 1
