#
# mod-all-flightpaths 설정
#

#
#    AllFlightPaths.Enable
#        설명: 로그인할 때 자신의 진영에서 이용할 수 있는 모든 비행 경로를 개방합니다.
#              동부 왕국/칼림도어/아웃랜드/노스렌드 대상이며 탐험으로 발견할 필요가 없어집니다.
#              상대 진영 전용 지점은 제외합니다.
#        기본값: 0 (진행 제한과 도전의 길 호환성을 검증한 뒤 활성화)
#

# 한국어: 소속 진영의 모든 비행 경로를 로그인할 때 개방합니다.
# 진행 제한/IP 정책 검증 전에는 비활성으로 유지합니다.
AllFlightPaths.Enable = 0

#
#    AllFlightPaths.Announce
#        설명: 로그인할 때 비행 경로가 개방되었다는 안내를 표시합니다.
#        기본값: 0
#

AllFlightPaths.Announce = 0
